@import "tailwindcss";

@theme {
  --color-brand-gray: #a3a3a3;
}

@layer base {
  body {
    @apply bg-[#0a0a0a] text-white antialiased overflow-x-hidden;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s cubic-bezier(0.5, 0, 0, 1);
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
